<ion-content no-bounce>
    <ion-slides (ionSlideDidChange)="ionSlideDidChange()">
        <ion-slide style="font-size: 1em">
            <div class="item-container" *ngFor="let a of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
                <div class="info-container a1-width-100 a3-container a3-items-center">
                    <div class="item-code a1-circle a3-container a3-items-center a3-justify-center">
                        <span>BRT02</span>
                    </div>
                    <div class="bus-item-content a3-container a3-items-center a3-flex-1">
                        <div>
                            <span>Bác Cổ - Bến xe Yên Nghĩa - Bác Cổ - Bến xe Yên Nghĩa - Bác Cổ - Bến xe Yên Nghĩa - Bác Cổ</span>
                            <span class="direction">(lượt về)</span>
                        </div>
                    </div>
                    <div class="count-down a3-container a3-column">
                        <span>50</span>
                        <span class="time-unit">phút</span>
                    </div>
                </div>
                <div class="detail-container a1-width-100 a3-container a3-justify-between">
                    <div class="bks">29A88888</div>
                    <div class="a3-container">
                        <img class="img-item" src="assets/auto-meter.png">
                        <span>123 km/h</span>
                    </div>
                    <div class="a3-container">
                        <img class="img-item" src="assets/distance-pins.png">
                        <span>1234 m</span></div>
                </div>
            </div>
        </ion-slide>
        <ion-slide style="font-size: 1em">
            <div class="route-item-container" *ngFor="let route of mRoutes" (tap)="onClickRoute(route)">
                <div class="info-container a1-width-100 a3-container a3-items-center">
                    <div class="item-code a1-circle a3-container a3-items-center a3-justify-center">
                        <span>{{route.mCode}}</span>
                    </div>
                    <div class="route-item-content">
                        <div class="a1-width-100">
                            <span>{{route.mName}}</span>
                        </div>
                        <div class="arrow-container a3-container a3-items-center">
                            <img src="assets/long_arrow_right.png"><span>Lượt đi hoặc về</span>
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>

<n-header-segment [bgimg]="bgimg" [title]="title" [segments]="segments" [currentSegment]="currentView" [root]="root" [bgColor]="bgColor" [color]="color" [btmColor]="btmColor" [rgtColor]="rgtColor" (segmentIndex)="onChangeView($event)"></n-header-segment>
<div class="footer">
    <div class="a1-width-100 footer-text">Ứng dụng chỉ hỗ trợ theo dõi xe của HanoiBus</div>
    <div class="footer-main a1-width-100 a3-container">
        <div class="img-container">
            <img src="assets/bus-stop-logo.png">
        </div>
        <div class="a3-container a3-items-center overflow-hidden">
            <span class="a1-width-100">{{mStation.name}}</span>
        </div>
    </div>
</div>